* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.active__item {
  border-bottom: 2px solid #000;
  cursor: not-allowed;
  color: #000;
  font-family: "Source Sans 3", serif;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}

/* header */
.header {
  background-color: #fff;
}

.header__inner {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .header__logo {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header__inner .header__logo img {
  display: block;
}
.header__inner .header__logo h2 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}
.header__inner .nav {
  display: flex;
  gap: 0 50px;
}
.header__inner .nav .nav__item {
  color: #000;
  font-family: "Source Sans 3", serif;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}
.header__inner .nav .nav__item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.5s;
}
.header__inner .nav .nav__item:hover::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #000;
  transition: width 0.5s;
}
.header__inner .burger {
  display: none;
}

@media only screen and (max-width: 450px) {
  .header__inner .nav {
    display: none;
  }
  .header__inner .nav a {
    font-size: 25px;
  }
  .header__inner .nav__active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    background-color: #fff;
    box-shadow: 0px 0px 200px #000;
    text-align: center;
  }
  .header__inner .burger {
    z-index: 5;
    display: block;
  }
}
.about {
  padding-top: 80px;
  background-color: #fafafa;
  font-family: "Source Sans 3", serif;
}
.about .about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}
.about .about__inner .about__img {
  display: block;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  object-fit: cover;
}
.about .about__inner .about__title {
  max-width: 770px;
}
.about .about__inner .about__title h1 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 15px;
}
.about .about__inner .about__title p {
  font-size: 16px;
}
.about .about__text {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 25px;
}
.about .about__text h2 {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
}
.about .about__text p {
  padding-bottom: 20px;
  font-size: 16px;
}
.about .about__text p:last-child {
  padding-bottom: 55px;
}

@media only screen and (max-width: 450px) {
  .about {
    padding-top: 30px;
  }
  .about .about__inner {
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    padding-bottom: 30px;
  }
  .about .about__inner .about__title h1 {
    padding: 15px 0;
  }
  .about .about__text {
    padding-top: 20px;
  }
  .about .about__text h2 {
    font-size: 16px;
  }
  .about .about__text p:last-child {
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=about.css.map */
